<!DOCTYPE html>
<html>
<head>
  <script src="face-api.js"></script>
  <script src="js/commons.js"></script>
  <script src="js/faceDetectionControls.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="js/post_to_sheet.js"></script>
  <script src="js/Chart.js"></script>
</head>
<body>
  <div id="navbar"></div>
  <div class="center-content page-container">

    <div class="progress" id="loader">
      <div class="indeterminate"></div>
    </div>
    <div style="position: relative" class="margin">
      <video onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted playsinline></video>
      <canvas id="overlay" /> 
    </div>
    <div>
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
  </div>
    

    <form id="post_data">
      <div style="display: none;">
        <input name="neutral_post" id="neutral" type="text" value="">
      </div>  
        <center><input type="submit" value="Yes"  onclick ="update_status()"></center>
    </form>
    

  </body>

  <script>
    let forwardTimes = []
    let withBoxes = true
    var i = 0
    var vals = []
    let start = Date.now()

    function onChangeHideBoundingBoxes(e) {
      withBoxes = !$(e.target).prop('checked')
    }

    function updateTimeStats(timeInMs) {
      forwardTimes = [timeInMs].concat(forwardTimes).slice(0, 30)
      const avgTimeInMs = forwardTimes.reduce((total, t) => total + t) / forwardTimes.length
      $('#time').val(`${Math.round(avgTimeInMs)} ms`)
      $('#fps').val(`${faceapi.utils.round(1000 / avgTimeInMs)}`)
    }
    

    async function onPlay() {
      const videoEl = $('#inputVideo').get(0)

      if(videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
        return setTimeout(() => onPlay())


      const options = getFaceDetectorOptions()

      const ts = Date.now()

      const result = await faceapi.detectSingleFace(videoEl, options).withFaceExpressions()

      updateTimeStats(Date.now() - ts)

      if (result) {
        const canvas = $('#overlay').get(0)
        const dims = faceapi.matchDimensions(canvas, videoEl, true)

        const resizedResult = faceapi.resizeResults(result, dims)
        const minConfidence = 0.05
        if (withBoxes) {
          faceapi.draw.drawDetections(canvas, resizedResult)
        }
        faceapi.draw.drawFaceExpressions(canvas, resizedResult, minConfidence)
        // console.log(result)
        
        

        function getResult(result) {
            for (var key in result){
              if (key = 'expressions'){
                var count = 0
                var neutral = 0
                var happy = 0
                var date = Date.now()-start
                for (var expression in result[key]){
                  // date = Date.now()-start
                  if (count==0){
                    var exp = 'neutral: ' + result[key][expression]
                    // console.log('\n\n', exp)
                    vals.push(result[key][expression])
                    //console.log(expression)
                    // console.log(result[key][expression])
                    
                    addData(myChart,date,result[key][expression],0)
                    // chart_data_update(myChart, expression, result[key][expression])
                    neutral = result[key][expression]
                  }
                  if (count==1){
                    var exp = 'happy: ' + result[key][expression]
                    happy = result[key][expression]
                    addData(myChart,date,result[key][expression],1)
                    // console.log('\n\n', exp)
                  }
                  count++
                  
                }
                
                
                
              }
              

          
        }
        // console.log(neutral)
        // addData(myChart,date, [neutral,happy])
        }
        // getResult(result)
        // setTimeout(getResult(),2000)
        window.setInterval(function(){
          getResult(result)
        }, 100);
        
        // console.log('vals', vals)
        
        document.getElementById("neutral").value = vals;
        

      }

      setTimeout(() => onPlay())
    }
    // chart_data_update(myChart, "neutral", neutral)
    console.log('neutral', neutral)
    

    async function run() {
      // load face detection and face expression recognition models
      await changeFaceDetector(TINY_FACE_DETECTOR)
      await faceapi.loadFaceExpressionModel('/')
      changeInputSize(224)

      // try to access users webcam and stream the images
      // to the video element
      const stream = await navigator.mediaDevices.getUserMedia({ video: {} })
      const videoEl = $('#inputVideo').get(0)
      videoEl.srcObject = stream
    }

    function updateResults() {}
    function update_status()
  		{
      //document.getElementById("status").innerHTML  = "Submitting";
      document.getElementById("neutral").value = vals;
      console.log(document.getElementById("neutral").value)
      }
      
    

    $(document).ready(function() {
      renderNavBar('#navbar', 'webcam_face_expression_recognition')
      initFaceDetectionControls()
      run()
    })

    function addData(chart, label, data, index) {
      var dsets = chart.data.datasets;
      var l = chart.data.labels;
      var d = dsets[index].data;
      // var n = dsets[0].data;
      // var h = dsets[1].data;
      
      var dLength = d.length;
      // console.log('l',l)
      // console.log('label', label)
      var didRemoveData = false
      if (dLength > 50) {
        d.shift();
      // n.shift();
      // h.shift()
      didRemoveData = true;
    }

    // if either download or upload data was removed, we also need to remove
    // the first label to keep the data from squeezing in.
    if (didRemoveData) {
      l.shift();
    }
    l.push(label);
    d.push(data);
    // n.push(data[0]);
    // h.push(data[1])
    chart.update();
}

    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'neutral',
                data: [],
                pointRadius: 1,
                fill: false
            },
            {
                label: 'happy',
                data: [],
                pointRadius: 1,
                fill: false,
                borderColor: 'rgba(245, 215, 110, 1)',
                backgroundColor: 'rgba(245, 215, 110, 1)',
                showLine: true
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        suggestedMax: 1.0,
                        suggestedMin: 0,
                        stepSize: .1
                    }
                }]
            },
            animation: false,
            spanGaps: true
        }
    });

  </script>
</body>
</html>